<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/darkly.min.css">
    <title>Empresas</title>
</head>
<body>
    <h1 align="center">Empresas</h1>
    <h5 align="right"><a href="/empresa/new" >Añadir Empresa</a> </h5>
    <table class="table table-bordered">
        <thead>
            <tr>
                
                <td>Nombre</td>
                
                <td>Tipo</td>
                
                <td>Favorita</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
    {% if object_list %}
    <ul>
        {% for empresa in object_list %}
        <tr>
                
            <td>{{empresa.Nombre}}</td>
            
            <td>{{empresa.Tipo}}</td>
            
            <td>{{empresa.Favorita}}</td>
            <td>
               
                <a class="btn btn-primary" href="{% url 'MSWE:modi_empresa' empresa.EmpresaId %}">Editar</a>
                <a class="btn btn-danger" href="{% url 'MSWE:eli_empresa' empresa.EmpresaId %}">Borrar</a>                
                
            </td>
        </tr>
        <br>
        {% endfor %}
    </ul>
    {% else %}
    <h1>No hay registros</h1>
   {% endif %}
</body>
</html>